#logo{
  display: inline-block;
  width: 100px;
}
nav {
  /*display: inline-block;*/
  float: right;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

nav li {
  display: inline-block;
  text-decoration: none;
  margin:0 10px;
}

nav li a{
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  padding-top: 15px;
}


.active {
  border-top: 2px solid #0065FC;

}

h2 {
  padding: 20px 0 0 0;
  font-family: 'Raleway', sans-serif;
}

#downtown {
  padding: -30px 0 0 0;
  font-family: 'Raleway', sans-serif;
}

#mylocation {
  background-color: #F2F2;
  border-radius: 10px 0px 0px 10px;
  float:inline-start;
  padding: 10px;
}

#location {
  padding: 10px;
}

#submit {
  background-color: #0065FC;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  display:inline-block;
  color: white;

}

filter a {
  display: inline;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
}

ul {
  display: inline;
  margin-top: 30px;
  margin-left: -45px;
}
filter li {
  display: inline;
  padding: 10px 10px 10px 30px;
  border: 2px solid black;
  border-radius: 30px;
  margin-left: 8px;
}

filter li a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

section {
  background-color: #F2F2;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  margin-right: 50%;
  margin-top: 15px;
}

footer {
  background-color: rgb(207, 205, 205);
  font-family: 'Raleway', sans-serif;

}

footer li {
  background-color: violet;
}

footer li a {
  background-color: teal;
}