#logo{
  display: inline-block;
  width: 100px;
}
nav {
  /*display: inline-block;*/
  float: right;
  text-align: center;
}

nav li {
  display: inline-block;
  text-decoration: none;
  margin:0 10px;
  font-family: 'Raleway', sans-serif;
}

nav li a{
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  padding-top: 15px;
}


.active {
  border-top: 2px solid #0065FC;

}

div2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h2 {
  padding: 20px 0 0 0;
}

#downtown {
  padding: -30px 0 0 0;
  font-family: 'Raleway', sans-serif;
}

#mylocation {
  background-color: #F2F2F2;
  border-width: 1px;
  border-radius: 10px 0px 0px 10px;
  float:inline-start;
  padding: 10px;
  margin-right: -10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#location {
  padding: 10px;
  margin: 0px, -10px;
  border-width: 1px;
  font-family: 'Raleway', sans-serif;
}

#submit {
  background-color: #0065FC;
  border-width: 1px;;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  display:inline-block;
  color: white;
  margin-left: -10px;
  font-family: 'Raleway', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-basis: 1;
  margin-top: 15px;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.item {
  font-family: 'Raleway', sans-serif;
  border: 1px solid black;
  padding: 10px 10px 10px 30px;
  border-radius: 30px;
  margin-left: 30px;
}

/*filter a {
  display: inline;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-top: 30px;
}

ul {
  /*display: inline;
  margin-top: 30px;
  margin-left: -45px;
}
filter li {
  /*display: inline;
  padding: 10px 10px 10px 30px;
  border: 2px solid black;
  border-radius: 30px;
  margin-left: 8px;
}

filter li a {
  color: black;
  text-decoration: none;
  display: inline-block;
}
*/
section {
  background-color: rgb(207, 205, 205);
  display: inline-block;
  margin-right: 50%;
  margin-top: 15px;
}

footer {
  background-color: rgb(207, 205, 205);

}

footer li {
  background-color: violet;
}

footer li a {
  background-color: teal;
}